

<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="box">
        <div class="container">
            <form class="was-validated">
                <div class="row my-5"><h1>Login</h1></div>
                <div class="row mb-3">
                    <input class="form-control is-invalid" type="email" placeholder="Email..." required>
                </div>
                <div class="row mb-5">
                    <input class="form-control is-invalid" type="password" placeholder="password..." required>
                </div>
                <div class="row mb-3">
                    <button type="submit" class="btn btn-success rounded-pill">SUBMIT</button>
                </div>
                <div class="row"><p>Don't have an account? <a routerLink="/signup" routerLinkActive="active">Signup</a></p></div>
            </form>
            <div class="divider my-lg-4"></div>
        </div>
        <div class="row align-items-center mb-5 mt-4 gap-3 ps-5">
            <img src="../../../../assets/google.png" alt="loading" class="col-2" height="32px" width="32px">
            <img src="../../../../assets/facebook.png" alt="loading" class="col-2" height="32px" width="32px">
            <img src="../../../../assets/twitter.png" alt="loading" class="col-2" height="32px" width="32px">
            <img src="../../../../assets/instagram.png" alt="loading" class="col-2" height="34px" width="34px">

        </div>
    </div>
</div>
